html {}

body {
    margin: 0;
    background-color: rgb(253, 199, 208);
    font-family: 'Diphylleia';
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10%;
}

header {
    background-color: lightpink;
    height: 80px;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 200px;
}

nav img {
    width: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}

.topBoks {
    display: flex;
    flex-direction: column;
    margin-top: 420px;
    gap: 20px;
}

.poeng {
    width: 200px;
    border: solid white 3px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}


.block {
    
    
}

.navigation a {
    display: inline-block;
    color: black;
    justify-items: right;
    text-align: center;
    padding: 11px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
    background-color: rgb(222, 115, 255);
    color: white;
}


section {
    min-height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.topDel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boks {
    background-color: lightblue;
    border-bottom: solid 5px cornflowerblue;
    border-left: solid 5px cornflowerblue;
    border-right: solid 5px cornflowerblue;
    width: 600px;
    height: 450px;
    transform: perspective(600px) rotateX(-30deg);
}

.ballSpace {
    width: 730px;
    height: 200px;
    border: dashed blueviolet 3px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 640px;
    width: 200px;
    position: absolute;
    left: 21px;
    top: 0; 
    border: deeppink 2px solid;
}

.fa-solid {
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 640px;
    width: 200px;
    position: absolute;
    right: 21px;
    top: 0;           
}

.neste {
    height: 200px;
    width: 200px;
    color: white;
    border: white 3px solid;
    padding: 10px;
}

.rekkefølge {
    height: 100px;
    width: 400px;
    border: 3px solid white;
}

footer {
    background-color: lightpink;
}



